@using PL.Models;


@model TeacherViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>@Model.Teacher.TeacherName</h2>
        <ul>
            @if (Model.TeacherHomeworks != null)
            {
                foreach (var subItem in Model.TeacherHomeworks)
                {
                     <li>Homework Id:  @subItem.Homework.HomeworkId
                        <ul>
                            <li>Mark: @subItem.Homework.HomeworkMark</li>
                            <li>Date: @subItem.Homework.HomeworkDate.ToString("dd:MM:yyyy")</li>
                        </ul>
                     </li>
                }
            }
        </ul>
    </div>
</div>
