@using PL.Models;


@model List<TeacherViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <ul>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                <li>
                    <h2>@item.TeacherName</h2>
                </li>
                }
            }
            </ul>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <h2>Teachers List</h2>
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                       <a asp-action="Index" asp-controller="TeacherPersonal" asp-route-teacherId="@item.Teacher.TeacherId">@item.Teacher.TeacherName</a>
                    </li>
                 }
            </ul>
    </div>
</div>
