@using PL.Models;
@using DL;
@*@model HelloModel*@

@model List<StudentViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <ul>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                <li>
                    <h2>@item.StudentName</h2>
                </li>
                }
            }
            </ul>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                <h2> <a asp-action="Index" asp-controller="Students" asp-route-type="@MenuTypes.MenuType.studentList">Students</a></h2>
            </li>
            <li>
                <h2><a asp-action="Index" asp-controller="Teachers" asp-route-type="@MenuTypes.MenuType.teacherList">Teachers</a>  </h2>
            </li>
        </ul>
    </div>
</div>
