@using PL.Models;


@model StudentViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>@Model.Student.StudentName</h2>
        <ul>
            @if (Model.StudentHomeworks != null)
            {
                foreach (var subItem in Model.StudentHomeworks)
                {
            <li>
                Homework Id:  @subItem.Homework.HomeworkId
                <ul>
                    <li>Mark: @subItem.Homework.HomeworkMark</li>
                    <li>Date: @subItem.Homework.HomeworkDate.ToString("dd:MM:yyyy")</li>
                </ul>
            </li>
                }
            }
        </ul>
    </div>
</div>
